.main {
  padding: 20px;
}
.main * {
  box-sizing: border-box;
}
.main .title {
  color: var(--Logo, #4c5bd4);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 54px */
}
.main .card,
.main .card1,
.main .card2,
.main .card3 {
  display: flex;
  height: 680px;
  width: 276px;
  padding-top: 90px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-radius: 15px;
  position: relative;
}
.main .card {
  background: var(--FFFFFF, #fff);
  box-shadow: 0px 0px 20px 0px rgba(3, 230, 8, 0.51);
}
.main .card1 {
  border: 3px solid var(--ST, #ff4301);
  background: var(--FFFFFF, #fff);
  box-shadow: 0px 0px 20px 0px rgba(54, 72, 255, 0.51);
}
.main .card1 .right {
  position: absolute;
  right: -10px;
  top: -10px;
  width: 114.277px;
  height: 113.216px;
  transform: rotate(362.342deg);
}
.main .card1 .right .text {
  transform: rotate(43.79deg);
  position: absolute;
  right: 0;
  top: 38px;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main .card2 {
  background: var(--FFFFFF, #fff);
  box-shadow: 0px 0px 20px 0px rgba(255, 106, 0, 0.51);
}
.main .card3 {
  background: var(--FFFFFF, #fff);
  box-shadow: 0px 0px 20px 0px rgba(248, 187, 0, 0.51);
}
.main .card_title,
.main .card_title1,
.main .card_title2,
.main .card_title3 {
  border-radius: 0px 17px 17px 0px;
  box-shadow: 8px 8px 18px 0px rgba(42, 67, 113, 0.3);
  position: absolute;
  left: -3px;
  top: 30.71px;
  padding: 8px 14.605px 9.38px 15px;
  height: 34.38px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.main .card_title h3,
.main .card_title1 h3,
.main .card_title2 h3,
.main .card_title3 h3 {
  color: var(--FFFFFF, #fff);
  text-align: center;
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 24.38px; /* 187.538% */
  letter-spacing: 1px;
  text-transform: uppercase;
}
.main .card_title {
  background: #05ae1d;
}
.main .card_title1 {
  background: #3648ff;
}
.main .card_title2 {
  background: #ff6a00;
}
.main .card_title3 {
  background: #f8bb00;
}
.main .price .dvt,
.main .price1 .dvt {
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  height: 49px;
}
.main .price span,
.main .price1 span {
  text-align: center;
  font-family: Roboto;
  width: 167.58px;
  height: 49px;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 50.4px; /* 120% */
}
.main p {
  color: #333;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 187.5% */
}
.main .price .dvt {
  color: #05ae1d;
}
.main .price h2 {
  color: #05ae1d;
}
.main .price1 .dvt {
  color: #3648ff;
}
.main .price1 h2 {
  color: #3648ff;
}
.main .price2 .dvt {
  color: #ff6a00;
}
.main .price2 h2 {
  color: #ff6a00;
}
.main .price3 .dvt {
  color: #f8bb00;
}
.main .price3 h2 {
  color: #f8bb00;
}
.main .des {
  display: flex;
  width: 276px;
  flex-direction: column;
  padding: 24px;
  align-items: center;
  flex: 1 0 0;
  gap: 16px;
  border-top: 1px solid #ccc;
}
.main .des .des_p {
  color: #606060;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.main .des span {
  color: #606060;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.main .des .line span {
  color: #606060;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-decoration-line: line-through;
}
.main .detail {
  color: #4c5bd4;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 54px;
  line-height: 135%;
}
.main .btn,
.main .btn1,
.main .btn2,
.main .btn3 {
  display: flex;
  padding: 7.66px 15.16px 7.34px 29px;
  position: absolute;
  bottom: -28px;
  justify-content: flex-end;
  align-items: center;
  gap: 7.528px;
  border-radius: 25px;
}
.main .btn span,
.main .btn1 span,
.main .btn2 span,
.main .btn3 span {
  color: var(--FFFFFF, #fff);
  font-family: Red;
  display: block;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 100% */
}
.main .btn {
  background: #05ae1d;
  box-shadow: 0px 0px 10px 0px #05ae1d;
}
.main .btn1 {
  background: #3648ff;
  box-shadow: 0px 0px 10px 0px #3648ff;
}
.main .btn2 {
  background: #ff6a00;
  box-shadow: 0px 0px 10px 0px #ff6a00;
}
.main .btn3 {
  background: #f8bb00;
  box-shadow: 0px 0px 10px 0px #f8bb00;
}
.main .cardsContainer {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.main .Carousel {
  display: none;
}

@media (max-width: 768px) {
  .main {
    padding: 10px;
  }
  .main .leftButton,
  .main .rightButton {
    display: block;
  }
  .main .cardsContainer {
    display: none;
  }
  .main .card1 {
    position: relative;
    z-index: 1111;
  }
  .main .card1 .right {
    display: none;
    position: absolute;
    right: -10px;
    top: -10px;
    width: 114.277px;
    z-index: 9999;
    height: 113.216px;
    transform: rotate(362.342deg);
  }
  .main .card1 .right .text {
    transform: rotate(43.79deg);
    position: absolute;
    right: 0;
    top: 38px;
    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .main .Carousel {
    display: block;
    position: relative;
  }
  .main .Carousel .leftButton,
  .main .Carousel .rightButton {
    position: absolute;
    top: 50%;
    background: #05ae1d;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
  }
  .main .Carousel .leftButton {
    left: 0;
  }
  .main .Carousel .rightButton {
    right: 0;
  }
  .main .Carousel .cardWrapper {
    width: 100%;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 16px;
  }
}/*# sourceMappingURL=styles.module.css.map */