.main__footer {
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
  gap: 60px;
  margin-top: 50px;
}

.main__footer button {
  background: #ffffff;
  border: 1px solid #4c5bd4;
  box-sizing: border-box;
  border-radius: 5px;
  color: #4c5bd4;
  font-size: 16px;
  line-height: 19px;
  font-family: Roboto-Bold;
  width: 168px;
  height: 36px;
}

.main__footer button.save {
  background: #4c5bd4;
  color: #ffffff;
}

.main__body__type {
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 15px;
  text-decoration-line: underline;
  color: #474747;
  font-family: "Roboto-Medium";
}

.show_avatar {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  border: 1px #cccc solid;
}

.row_input,
.row_input_product {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  justify-content: space-between;
  margin-bottom: 1rem;
}

.row_input {
  margin-bottom: 0rem;
  gap: 40px;
}

.row_input_product {
  margin-bottom: 0;
}

.mb_3 {
  margin-bottom: 1rem;
  flex: 1 !important;
}

.row_input_product .mb_3 {
  margin-bottom: 0.6rem;
}

.form-label {
  color: #474747;
  font-size: 16px;
  line-height: 19px;
  font-family: "Roboto-Medium";
}

.justify_space_between {
  justify-content: space-between;
}

.d_flex {
  display: flex;
}

.button_copy {
  background: #ffffff;
  border: 1px solid #4c5bd4;
  border-radius: 3px;
  color: #4c5bd4;
  padding: 9px 15px;
  column-gap: 8px;
  align-items: center;
  font-family: Roboto-Bold;
  font-size: 15px;
  line-height: 18px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.info_system {
  align-items: center;
  column-gap: 10px;
  display: flex;
}

.wrap_label {
  display: flex;
  justify-content: space-between;
}
.span_custom {
  position: absolute;
  right: 0px;
  color: #4c5bd4;
  cursor: pointer;
  font-size: 16px;
  top: 0;
}

.red_dot {
  color: red;
  position: absolute;
  left: 30px;
  top: 0;
}
@media (min-width: 1420px) {
  .col-lg-6 {
    -webkit-box-flex: 0;
    width: 100%;
  }
}

@media (max-width: 1420px) {
  .row_input {
    flex-direction: column;
    justify-content: center;
    gap: 0;
  }
}

@media (max-width: 768px) {
  .main__footer {
    gap: 35px;
  }
}

@media (max-width: 414px) {
  .main__footer {
    gap: 15px;
  }
  .main__footer button {
    width: 130px;
  }
  .span_custom {
    font-size: 14px;
    top: 2px;
  }
}
