.main {
  width: calc(100% - 302px);
  padding: 22px;
  float: right;
  background: #f7f8fc;
}

.group_box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
}

.item_box {
  width: 30%;
  min-height: 217px;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
  border-radius: 10px;
  background: #ffffff;
}

.item_box_marketing {
  width: 30%;
  min-height: 217px;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
  border-radius: 10px;
  background: #ffffff;
}

.box_title {
  padding: 16px 25px;
  border-bottom: 1px solid #666666;
  font-family: "Roboto-Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 1rem;
}

.box_des {
  padding: 15px 25px 15px 25px;
}

.box__des_item {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  margin-top: 15px;
}

.box__des_item:first-child {
  margin: 0;
}

.box__des_item::before {
  content: "";
  position: absolute;
  height: 14px;
  width: 14px;
  border-radius: 10px;
}

.primary::before {
  background: #4c5bd4;
}

.success::before {
  background-color: #76b51b;
}

.warning::before {
  background-color: #ffa800;
}

.box__des_item span:first-child {
  margin-left: 25px;
  font-size: 16px;
  color: #474747;
  line-height: 27px;
}

.box_des_num {
  font-size: 16px;
}

.overview {
  margin-top: 3%;
  margin-bottom: 2%;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
  width: 100%;
  min-height: 607px;
}
.overview2 {
  display: block;
  margin-top: 3%;
  margin-bottom: 2%;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
  width: 100%;
  min-height: 607px;
}
.overview_heading2 {
  display: flex;
  padding: 15px 25px;
  justify-content: space-between;
  width: 100%;
  background: #ffffff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.overview_heading2 p {
  font-size: 22px;
  font-family: "Roboto-Regular";
  font-weight: 600;
}
.overview_heading {
  display: flex;
  padding: 15px 25px;
  justify-content: space-between;
  background: #ffffff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.overview_heading p {
  font-size: 22px;
  font-family: "Roboto-Regular";
  font-weight: 600;
}

.overview__select {
  appearance: none;
  background: transparent url(/crm/icon-arrow-down.png) no-repeat 110px center;
  width: 153px;
  height: 36px;
  font-size: 15px;
  border: 1px solid #666666;
  border-radius: 5px;
  padding: 5px 29px;
  text-transform: none;
}
@media screen and (max-width: 414px) {
  .group_box {
    justify-content: center;
    flex-direction: column;
  }
  .item_box {
    width: 100%;
    margin: auto;
    margin-top: 32px;
  }
  .main {
    padding: 70px 15px !important;
  }
}
@media screen and (max-width: 768px) {
  .group_box {
    justify-content: center;
    flex-direction: column;
  }
  .item_box {
    width: 100%;
    margin: auto;
    margin-top: 10px;
  }
}

@media screen and (max-width: 820px) {
  .main {
    padding: 30px 15px 0 15px;
  }
}

@media screen and (max-width: 1074px) {
  .group_box {
    justify-content: center;
    gap: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .group_box {
    justify-content: space-between;
  }

  .main {
    width: 100%;
  }
  .item_box {
    flex: 1;
  }
}
