.main {
    * {
        box-sizing: border-box;
    }
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 36px 0;
    .content {
        width: 100%;
        max-width: 1200px;
    }
    .title {
        padding-top: 24px;
        text-align: center;
        color: #333;
        font-family: Roboto;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 135%;
        span {
            color: var(--Logo, #4c5bd4);
            font-family: Roboto;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 135%; /* 37.8px */
        }
    }
    .table1 {
        width: 100%;
        border: 1px solid #ccc;
    }
}
@media (max-width: 414px) {
    .main {
        padding: 10px;
    }
}
