.main {
    * {
        box-sizing: border-box;
    }
    display: flex;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 24px;
    .content {
        position: relative;
        width: 100%;
        max-width: 1200px;
    }
    .wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-image: url("/card-bg.png");
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 36px;
        .title {
            color: var(--FFFFFF, #fff);
            font-family: Roboto;
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
            margin-top: 64px;
            padding-bottom: 24px;
        }
        .card_content {
            display: flex;
            padding: 30px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            flex: 1 0 0;
        }
        .card_title {
            color: var(--FFFFFF, #fff);
            font-family: Roboto;
            font-size: 36px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-transform: capitalize;
        }
        .card_name {
            color: var(--FFFFFF, #fff);
            font-family: Roboto;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 135%; /* 27px */
            text-transform: capitalize;
        }
        .card_des {
            color: var(--FFFFFF, #fff);
            text-align: center;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 135%; /* 21.6px */
        }
        .table1 {
            width: 100%;
            border: 1px solid #ccc;
        }
    }
    .chan {
        display: flex;
        flex-wrap: wrap;
    }
    .line1 {
        width: 1px;
        height: 100%;
        min-height: 240px;
        background-color: #fff;
    }
    .line2 {
        height: 1px;
        width: 90%;
        padding: 0 36px;
        background-color: #fff;
    }
}
@media (max-width: 414px) {
    .main {
        padding: 10px;
    }
    .chan {
        display: block !important;
    }
    .line1,
    .line2 {
        display: none;
    }
    .title {
        text-align: center;
    }
}
