/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap'); */

@font-face {
  src: url("/crm/fonts/Roboto-Regular.ttf");
  font-display: swap;
  font-family: Roboto-Regular;
}

@font-face {
  src: url("/crm/fonts/Roboto-Italic.ttf");
  font-display: swap;
  font-family: Roboto-Italic;
}

@font-face {
  src: url("/crm/fonts/Roboto-Bold.ttf");
  font-display: swap;
  font-family: Roboto-Bold;
}

@font-face {
  src: url("/crm/fonts/Roboto-Medium.ttf");
  font-display: swap;
  font-family: Roboto-Medium;
}

@font-face {
  src: url("/crm/fonts/Roboto-MediumItalic.ttf");
  font-display: swap;
  font-family: Roboto-MediumItalic;
}

@font-face {
  src: url("/crm/fonts/Roboto-Light.ttf");
  font-display: swap;
  font-family: Roboto-Light;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto-Regular";
}

p {
  /* margin-block-start: 1rem; */
}

.ant-upload-list {
  display: flex;
  justify-content: center;
}

/*nhom khach hang  */
.ant-table-wrapper.contract_custom_table_children_row__5etMc.css-dev-only-do-not-override-fpg3f5
  td.ant-table-cell.ant-table-cell-with-append {
  display: flex !important;
  width: 100% !important;
  justify-content: space-between !important;
  flex-direction: row-reverse !important;
  align-items: center !important;
}

.ant-table-wrapper.contract_custom_table_children_row__5etMc.css-dev-only-do-not-override-fpg3f5
  span.ant-table-row-indent.indent-level-0 {
  display: none;
}

.ant-table-wrapper.contract_custom_table_children_row__5etMc.css-dev-only-do-not-override-fpg3f5
  tr.ant-table-row.ant-table-row-level-1
  a {
  color: rgb(7, 7, 7);
}

.ant-table-wrapper.contract_custom_table_children_row__5etMc.css-dev-only-do-not-override-fpg3f5
  span {
  /* display: none; */
  padding-left: 10px;
}

button.ant-switch.status_cus.css-dev-only-do-not-override-18w4yg9.ant-switch-checked {
  background-color: #76b51b;
}

/* .status_cus td.ant-table-cell{
display: none;} */

.bi-suit-heart-fill:hover {
  color: rgb(241, 12, 12);
}

.bi-suit-heart-fill {
  color: red;
}

.bi-suit-heart {
  color: red;
}

.highcharts-figure2 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 0;
  width: 80%;
}

.img_search {
  width: 20px;
  position: absolute;
  right: 9px;
  margin-top: 10px;
  cursor: pointer;
}

.show_number_item {
  display: flex;
  align-items: center;
}

.show_number_item b {
  width: 70px;
  display: flex;
  align-items: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

button,
a {
  cursor: pointer;
  background: transparent;
  border: none;
}

.active_resize {
  width: 70px !important;
}

.active_open_chat {
  width: 40% !important;
}

.rotateBtn {
  transform: rotate(180deg);
}

.content_resize {
  width: calc(100% - 70px) !important;
}

.required:after {
  content: "*";
  margin-left: 3px;
  color: #ff3333;
  font-size: 15px;
  font-family: Roboto-Bold;
}

svg {
  overflow: hidden;
}

.title_label {
  font-size: 15px;
  font-family: Roboto-Medium;
  line-height: 18px;
  color: #474747;
  width: 100%;
  margin-bottom: 5px;
  display: block;
}

.text_editor_2 {
  margin-top: 10px;
}

.product_return .ant-modal-header {
  padding: 16px !important;
}

.p10 {
  display: block;
}

.ck-editor__editable {
  margin-top: 10px;
  min-height: 180px;
}

.ck-editor__editable .ck-placeholder {
  display: none;
}

.ck .ck-sticky-panel .ck-sticky-panel__content_sticky {
  position: relative !important;
  z-index: 0 !important;
  top: auto !important;
  bottom: 0 !important;
}

.ck .ck-sticky-panel__placeholder {
  height: auto !important;
}

.mMenu__header {
  display: none;
}

@media (min-width: 1024px) {
  .active_resize {
    width: 70px !important;
  }

  .content_resize {
    width: calc(100% - 70px) !important;
  }

  .none {
    display: none;
  }
}

@media (max-width: 1024px) {
  .mMenu__header {
    cursor: pointer;
    display: block;
  }

  .active_resize {
    width: 302px !important;
  }

  .content_resize {
    width: 100% !important;
  }
}

@media (max-width: 768px) {
  .mMenu__header {
    cursor: pointer;
    display: block;
  }

  .active_resize {
    width: 270px !important;
  }

  .content_resize {
    width: 100% !important;
  }

  .active_open_chat {
    width: 100% !important;
    height: 99%;
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
  }
}

.icon_menu_nav {
  width: 22px;
  height: 15.89px;
}

.flex_align_center {
  display: flex;
  align-items: center;
}

.flex_align_center_item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex_between {
  display: flex;
  justify-content: space-between;
}

#start_time {
  border: 0;
}

#end_time {
  border: 0;
}

.flex-start-btn {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  column-gap: 5px;
  white-space: nowrap;
  padding: 5px 3px;
  align-items: center;
  font-size: 16px;
  line-height: 16px;
  color: #474747 !important;
  font-family: "Roboto-Medium";
  height: auto !important;
  cursor: pointer;
  background: transparent;
  border: none;
}

/* Custom Input File */
/* --------- */

/* Custom table Antd */
.custom_table {
  margin-top: 20px;
  position: relative;
}

.product_return {
  margin-top: 20px;
}

tr > th {
  background-color: #4c5bd4 !important;
  color: #fff !important;
  text-align: center !important;
  font-size: 16px !important;
}

tr {
  text-align: center !important;
}

.action_table {
  font-family: "Roboto-Medium";
  font-size: 16px;
  color: #4c5bd4;
  height: 26px;
  position: relative;
  display: flex;
  align-items: center;
  margin: auto;
}

.ant-table-tbody > tr {
  height: 58px;
}

.ant-input::placeholder {
  /* Ví dụ: */
  /* font-family: "Arial", sans-serif; */
  font-size: 16px;
  /* font-weight: 500; */
  color: #0a0a0a;
}

.custom_table .ant-table-pagination {
  position: relative !important;
}

.ant-table-bordered .ant-table-cell {
  /* Điều chỉnh viền đường dọc của các ô dữ liệu */
  /* Ví dụ: */
  border: 1px solid #58575733;
}

.ant-table-cell {
  height: 50px !important;
  padding: 0 !important;
}

.ant-pagination-options {
  position: absolute;
  left: 0;
  display: none !important;
}

.show_item {
  padding: 7.6px 15px;
  background: #ffffff;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px rgb(0 0 0 / 16%);
  border-radius: 10px;
  margin-left: 5px;
}

.show_item_delete {
  padding: 7.6px 15px;
  background: #ffffff;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px rgb(0 0 0 / 16%);
  border-radius: 10px;
  margin-left: 5px;
}

.main__footer {
  position: absolute;
  bottom: 0;
  width: 50%;
}

.main__footer_fix {
  width: 50%;
  padding-top: 20px;
}
.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.customStep {
  width: 55%;
  margin: auto;
}

.ant-steps-item-tail::after {
  background-color: black !important;
}

.ant-steps-item-icon {
  border: 1px solid black !important;
  background-color: white !important;
  width: 22px !important;
  height: 22px !important;
  outline: 1px;
  position: relative;
}

.ant-steps-item-icon .ant-steps-icon {
  top: -6px !important;
}

.ant-steps .ant-steps-item-process .ant-steps-item-icon {
  background-color: #1677ff !important;
}

.ant-steps-item-description {
  color: black !important;
}

/*  */

.mdal_cancel .ant-modal-content {
  width: 500px;
  min-height: 300px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  /* padding-top: 0; */
  padding: 0;
}

.mdal_cancel .ant-modal-content svg {
  color: white;
}

.mdal_cancel .ant-modal-body {
  padding: 63px;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.mdal_cancel .ant-modal-footer {
  display: flex;
  justify-content: center !important;
  border: 0px;
  padding: 0px 10px 20px 10px;
  column-gap: 68px;
}

.mdal_cancel .ant-btn-default {
  background-color: #fff;
  color: #4c5bd4;
  border: 1px solid #4c5bd4;
  width: 140px;
  height: 36px;
  font-family: "Roboto-Bold";
  font-size: 16px;
  font-weight: bold;
  line-height: 23px;
}

.mdal_cancel .ant-btn-primary {
  width: 140px;
  height: 36px;
  font-family: "Roboto-Bold";
  font-size: 16px;
  font-weight: bold;
  line-height: 23px;
  background-color: #4c5bd4 !important;
  color: #fff;
}

.mdal_cancel .ant-modal-header {
  text-align: center;
  width: 100%;
  padding: 20px 24px;
  background: #4c5bd4 !important;
}

.ant-dropdown-open {
  /* display: none !important;
  visibility: hidden !important; */
}

.mdal_cancel .ant-modal-title {
  color: white !important;
}

.sucess-mdal .ant-modal-header {
  background-color: white !important;
  text-align: center;
}

.sucess-mdal .ant-modal-header img {
  margin: auto;
}

.ant-modal-title {
  display: flex;
  justify-content: center !important;
}

.custom_mdal_sucess .ant-btn-default {
  display: none !important;
}

.custom_mdal_sucess .ant-modal-footer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 40px;
}

.custom_mdal_sucess .ant-btn-primary {
  display: block;
  margin-bottom: 0;
  margin-inline-start: 0;
  width: 20%;
  justify-content: center;
}

.ant-modal .ant-modal-close {
  display: none !important;
}

.mdal_cancel .ant-modal .ant-modal-close {
  display: block !important;
}

.shared_factor .ant-btn-primary {
  display: none;
}

.shared_factor .ant-btn-default {
  display: none;
}

.campign_mdal {
  width: auto !important;
}

.campign_mdal .ant-modal .ant-modal-close {
  display: block !important;
}

.campign_mdal .ant-modal-content {
  width: 900px;
}
.campign_mdal .ant-modal-content svg {
  color: #000000 !important;
}
.campign_mdal .ant-modal-content .ant-modal-body {
  padding: 15px;
}

.ant-modal-body .ant-table-pagination {
  display: none;
}

.campaign_tble {
  margin-top: 20px;
}

.email_add_mdal .ant-modal-body {
  padding: 18px !important;
}

.email_add_mdal .ant-modal-content {
  min-height: auto;
  min-width: 570px;
}

.ctent_call_mdal .ant-modal-content {
  min-width: 100% !important;
}

.ctent_call_mdal {
  width: 80% !important;
  display: flex;
  gap: 20px;
  /* justify-content: space-between; */
}

img {
  object-fit: unset;
}

.email_add_mdal .ant-modal-header {
  padding: 14px;
  position: relative;
  z-index: 10;
}

.d-flex-radio-mdal {
  align-items: center;
  column-gap: 5px;
  font-size: 16px;
  line-height: 16px;
  color: #474747;
  margin-bottom: 1rem;
  display: flex;
}

.ant-table-cell:first-child {
  background-color: white;
}

.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-header
  > table
  > thead
  > tr
  > th,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-body
  > table
  > tbody
  > tr
  > td,
.ant-table-wrapper
  .ant-table.ant-table-bordered
  > .ant-table-container
  > .ant-table-body
  > table
  > tfoot
  > tr
  > td {
  border-inline-end: 1px solid #ccc !important;
}

.custom_review_mdal .ant-btn-default {
  display: none;
}

.ant-table-row-level-1 a span {
  color: black !important;
}

/* .ant-table-row-level-0 .ant-table-row-expand-icon::after {
  content: '';
} */
:where(.css-dev-only-do-not-override-o95mle).ant-table-wrapper
  .ant-table-row-expand-icon {
  float: right;
}

/* Custom DropDown */

.btn-huy {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  column-gap: 3px;
  white-space: nowrap;
  padding: 5px 4px;
  align-items: center;
  font-size: 16px;
  line-height: 16px;
  color: #474747;
  font-family: "Roboto-Medium";
  height: auto;
}

.btn-huy :hover {
  background-color: #1677ff;
  color: white;
}

.module {
  height: 50px;
}

/* Custom Drawer */

.ant-drawer .ant-drawer-header-title {
  flex-direction: row-reverse;
}

.ant-drawer .ant-drawer-title {
  font-size: 16px !important;
  color: white;
}

.custom_drawer .anticon svg {
  color: white;
}

.d_flex {
  display: flex;
}

.lbl_container {
  display: flex;
  position: relative;
  padding-left: 21px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 16px;
  line-height: 16px;
  user-select: none;
  margin-right: 30px;
  gap: 5px;
}

.active_btn {
  color: #4c5bd4 !important;
  font-weight: bold !important;
}

@media (max-width: 912px) {
  .main__footer {
    flex-direction: column;
    height: 80px;
    bottom: -30px;
    justify-content: space-around;
    padding-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .mdal_cancel .ant-modal-content {
    width: 100%;
  }

  .main__footer {
    bottom: -53px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    gap: 12px;
    flex-direction: row;
  }
}

.opacity {
  opacity: 0.5;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.site-navigation-steps .ant-steps-item-icon .ant-steps-icon {
  margin-top: 10px !important;
  display: inline-block;
}

.ant-modal.css-dev-only-do-not-override-18w4yg9 button.ant-modal-close {
  margin-top: -8px;
  font-size: 20px;
  color: #fff;
}

.ant-popover.header_custom-popover__u1Hoy.css-dev-only-do-not-override-o95mle.css-dev-only-do-not-override-o95mle.ant-popover-placement-bottomLeft
  .ant-popover-arrow {
  visibility: hidden;
}

.ant-popover.header_custom-popover__u1Hoy.css-dev-only-do-not-override-o95mle.css-dev-only-do-not-override-o95mle.ant-popover-placement-bottomLeft
  .ant-popover-inner {
  background-color: #4c5bd4;
  color: #fff;
}

.ant-popover.header_custom-popover__u1Hoy.css-dev-only-do-not-override-o95mle.css-dev-only-do-not-override-o95mle.ant-popover-placement-bottomLeft
  .ant-popover-content {
  right: 16px;
  top: 4px;
}

.ant-table-body::-webkit-scrollbar {
  width: 2px;
  height: 5px;
}

.ant-table-body::-webkit-scrollbar-thumb {
  background-color: #1677ff;
}

.ant-table-body::-webkit-scrollbar-thumb:hover {
  background: #a2b8d0;
}

.custom-cellCus {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  pointer-events: painted;
  overflow: hidden;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Hiển thị nội dung khi hover vào ô */
.ant-table-cell:hover .custom-cellCus {
  opacity: 1;
  z-index: 999;
  height: fit-content;
  background-color: #f3e9e9;
  pointer-events: painted;
  padding: 18px;
}

.ant-table-cell .custom-cellCus {
  padding: 10px;
  text-align: start;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: start;
}

/* Socketio */
#box_alert {
  position: fixed;
  right: 1%;
  margin-top: 15px;
  z-index: 1;
  overflow: auto;
  height: 700px;
  /* padding-top: 85px; */
  top: 85px;
}
.alert__item__content {
  color: black;
}

.fix_close_btn {
  width: 90%;
}
.alert__item {
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  width: 500px;
  padding: 11px;
  margin-bottom: 15px;
}

.alert__item__group__name {
  font-size: 15px;
  line-height: 24px;
  color: rgb(53, 53, 202);
}
.alert__item__customer__name {
  font-size: 15px;
  line-height: 24px;
  color: #4c5bd4;
  font-family: Roboto-Medium;
}

.alert__item__header {
  display: flex;
  justify-content: end;
}

.alert__item__header button {
  color: #ff3333;
}

.alert__call__now {
  background: #34b632;
  border-radius: 6px;
  color: #ffffff;
  font-size: 15px;
  line-height: 18px;
  font-family: Roboto-Medium;
  width: 140px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.alert__call__now svg {
  margin-right: 10px;
}

.btn-add {
  background: #4c5bd4;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  font-family: Roboto-Medium;
  width: 138px;
  height: 36px;
  display: flex;
  align-items: center;
}

.ant-select-item.ant-select-item-group {
  font-size: 16px;
  color: #000000;
  left: 0;
  margin-left: -10px;
  font-family: "Roboto-Medium";
}
.potential_custom_multiple__3_XZy .ant-select-selector {
  height: 33px;
  border-radius: 0 !important;
}

@media (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

.campaign-checkbox-column .ant-checkbox-wrapper {
  width: 16px;
  height: 16px;
}
.custom-table {
  padding-top: 20px;
}

.ant-table-wrapper .ant-table-body {
  overflow-y: hidden;
  z-index: 99;
}
::-webkit-scrollbar-thumb {
  background: #4c5bd4;
  border-radius: 0px;
  height: 20px;
  height: 12px !important;
}
::-webkit-scrollbar-thumb:hover {
  background: #9698a1;
}
::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
  height: 12px !important;
}

.select2-results__option,
.select2-selection__rendered {
  font-size: 14px;
}

.select2-results {
  display: block;
}

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0;
}

.select2-results__option {
  padding: 6px;
  user-select: none;
  -webkit-user-select: none;
}
.select2-results__options:hover {
  /* background-color: red; */
}

.select2-results__option[aria-selected] {
  cursor: pointer;
}

:where(.css-dev-only-do-not-override-o95mle).ant-select-single:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  width: 100%;
  height: 37px;
  padding: 4px 7px;
  border-radius: 0px;
}
/* Ghi đè lên kiểu mặc định cho Select */
.ant-select-selection-item {
  border: none; /* Tắt viền màu xanh */
}

/* Ghi đè lên kiểu mặc định cho Option */
.ant-select-item-option-active {
  background-color: transparent; /* Tắt nền màu xanh khi lựa chọn */
}

.bangiao .ant-modal-content {
  width: 470px !important;
  min-width: 470px !important;
}

.bangiao .ant-modal-body {
  text-align: left !important;
}

.popup_sucess {
  top: 44% !important;
}
.select2-container .select2-selection--single {
  height: 40px !important;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 40px !important;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 40px !important;
}
.select2-search--dropdown .select2-search__field {
  padding: 8px !important;

  font-size: 16px !important;
}
.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
  padding: 10px !important;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 10px !important;
  right: 10px !important;
  width: 20px !important;
}

.ant-select.set_up_role_custom_select__PY7jp.css-dev-only-do-not-override-o95mle.ant-select-single.ant-select-show-arrow.ant-select-show-search
  .ant-select-selector {
  border-radius: 5px;
  text-align: center;
}

.add_file_campaign_mb_3__1EJ4D.add_file_campaign_col-lg-6__aPlfM.add_file_campaign_custom_select2___ZyTn
  span.select2.select2-container.select2-container--default {
  width: 100% !important;
  padding: 0 !important;
}

.add_file_campaign_mb_3__1EJ4D.add_file_campaign_col-lg-6__aPlfM.add_file_campaign_custom_select2___ZyTn
  span.select2-selection__arrow {
  top: 0px !important;
  right: 5px !important;
}

.add_file_campaign_row_input_custom__e44ms
  span.ant-input-affix-wrapper.css-dev-only-do-not-override-o95mle {
  padding: 9px 10px;
}

@media (max-width: 414px) {
  .main__footer_fix {
    width: 100%;
    padding-top: 80px;
  }
  .flex_between {
    flex-direction: column;
    gap: 10px;
  }
  .bangiao .ant-modal-content {
    width: 100% !important;
    min-width: 100% !important;
  }
}

@media (max-width: 1024px) {
  .main__footer_fix {
    width: 65%;
  }
}

@media (max-width: 760px) {
  .flex_between {
    flex-direction: column;
  }
  .total {
    margin-left: 0 !important;
  }
}

.ant-modal.css-dev-only-do-not-override-o95mle.modal_main_filter2__stxqu
  .ant-modal-content {
  padding: 0 !important;
}

.ant-modal.css-dev-only-do-not-override-o95mle.tongdai_main_filter2___yUa5
  .ant-modal-content {
  padding: 0 !important;
}

.ant-modal.css-dev-only-do-not-override-o95mle.tongdai_main_filter__7gjFZ
  .ant-modal-content {
  padding: 0 !important;
}

.tongdai_item1__TxqEx
  .ant-select.css-dev-only-do-not-override-o95mle.ant-select-single.ant-select-show-arrow {
  width: 100% !important;
}
.campaign-checkbox-column .ant-checkbox-wrapper {
  width: 16px;
  height: 16px;
}
.custom-table {
  width: 190vw; /* 100% chiều rộng của cửa sổ trình duyệt */
  overflow-x: auto; /* Cho phép thanh trượt ngang */
  padding-top: 20px;
}
@media (max-width:1024px){
  .custom-table {
    width: 150vw; /* 100% chiều rộng của cửa sổ trình duyệt */
    overflow-x: auto; /* Cho phép thanh trượt ngang */
    padding-top: 20px;
  }
}
@media (max-width:820px){
  .custom-table {
    width: 100%; /* 100% chiều rộng của cửa sổ trình duyệt */
    overflow-x: auto; /* Cho phép thanh trượt ngang */
    padding-top: 20px;
  }
}
@media (max-width:460px){
  .custom-table {
    width: 100%; /* 100% chiều rộng của cửa sổ trình duyệt */
    overflow-x: auto; /* Cho phép thanh trượt ngang */
    padding-top: 20px;
  }
}
.ant-table-wrapper .ant-table-body {
  overflow-y: hidden;
  z-index: 99;
}
::-webkit-scrollbar-thumb {
  background: #4c5bd4;
  border-radius: 0px;
  height: 20px;
  height: 12px !important;
}
::-webkit-scrollbar-thumb:hover {
  background: #9698a1;
}
::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
  height: 12px !important;
}