.setting_email_body {
  row-gap: 15px;
}

.main__setting_email {
  padding: 20px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.setting_email_body__title {
  font-family: "Roboto-Bold";
  font-size: 18px;
  line-height: 19px;
  color: #474747;
  font-weight: 600;
}

.setting_email_body__connect {
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
  flex-wrap: wrap;
  display: flex !important;
  margin-top: 20px;
}

.setting_email_body__connect_item {
  background: #ffffff;
  box-shadow: 0px 0px 16px rgb(0 0 0 / 10%);
  border-radius: 10px;
  padding: 20px 0;
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 200px;
}

.connect_img {
  vertical-align: middle;
  border-style: none;
}

.connect_title {
  font-family: "Roboto-Bold";
  font-size: 16px;
  line-height: 19px;
  color: #474747;
  text-align: center;
  font-weight: 600;
  margin-bottom: revert;
}

.connect_button {
  background: #ffffff;
  border: 1px solid #4c5bd4;
  border-radius: 5px;
  color: #4c5bd4;
  font-size: 16px;
  line-height: 19px;
  padding: 10px 25px;
  font-family: "Roboto-Bold";
  margin-top: 15px;
  font-weight: 600;
}

.main__title {
  background: #4c5bd4;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
  border-radius: 10px 10px 0px 0px;
  font-size: 17px;
  line-height: 19px;
  padding: 16px 20px 15px;
  color: #ffffff;
  font-weight: 600;
}

.main__body {
  background: #ffffff;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
  padding: 20px 23px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.main__body__type {
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 15px;
  text-decoration-line: underline;
  color: #474747;
  font-weight: 700;
}

.body__connect_system_row {
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.form_control {
  display: block;
  width: 50%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form_label {
  font-weight: 600;
  color: #474747;
  font-size: 16px;
  line-height: 19px;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.div_phuongthuc {
  column-gap: 30px;
  display: -ms-flexbox !important;
  display: flex !important;
}

.div_phuongthuc p {
  display: inline-flex;
  column-gap: 5px;
}

.main__tittle_token {
  background: #eeeeee;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
  padding: 16px 15px;
  display: flex;
}

.title_token {
  font-size: 19px;
  line-height: 19px;
  color: #474747;
  width: calc(100% / 4);
  text-align: center;
  margin-top: auto;
  font-weight: bold;
}

.main__content_token {
  background: #ffffff;
  box-shadow: 0px 0px 10px #cccccc;
  border-radius: 0px 0px 10px 10px;
}

.row_content_token {
  border-bottom: 1px solid rgba(204, 204, 204, 0.48);
  flex-direction: row;
  justify-content: space-between;
  padding: 7px 15px;
  column-gap: 15px;
  align-items: center;
  display: flex !important;
}

.row_content_token .form_label,
.row_content_token .form_control {
  width: calc(100% / 4);
  font-size: 15px;
  line-height: 18px;
}

.setting_email_body__connect_system {
  flex-direction: column;
  row-gap: 15px;
  display: flex !important;
}

@media (max-width: 414px) {
  .form_control {
    width: 100%;
  }
}
