.text_menu {
  color: #fff;
}
.img_icon {
  display: none;
}

.test {
  top: 20px;
  z-index: 999888;
  position: fixed;
  background: #4c5cd4;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.display_custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.button_login {
  background: #ff9052;
  border-radius: 5px;
  width: 109px;
  height: 39px;
  font-size: 16px;
  color: white;
}
.button_register {
  background: #ffffff;
  border-radius: 5px;
  width: 109px;
  height: 39px;
  font-size: 16px;
  color: #4c5bd4;
}
.menu_item {
  display: flex;
  gap: 20px;
  padding-right: 20px;
}
.custom_font {
  color: white;
  font-size: 15px;
  padding-left: 32px;
  font-weight: 500;
  font-family: Roboto;
  line-height: 20px;
}

.menu-nav {
  display: none;
}
.tasbar {
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  position: relative;
  width: calc(100% - 35px);
  background-color: #4c5bd4;
  height: 58px;
  right: 18px;
  top: 15px;
  float: right;
  z-index: 3;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 18px;
}
.tasbar img {
  width: 143px;
  height: 32px;
  float: left;
  margin-left: 33px;
  margin-top: 13px;
}
.tasbar .menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.menu a {
  text-decoration: none;
  font-style: normal;
  font-size: 15px;
  color: #ffffff;
  font-family: Roboto;
  font-weight: 400;
  line-height: 20px;
}
.menu .login_create {
  margin-right: 25px;
  display: flex;
  gap: 15px;
}

.login_create .dn,
.dk {
  margin: 0 !important;
}
.login_create .center {
  margin: 0 7px;
}
.custom-popover {
  display: none !important;
}

/* -----------------------------------------------------------responsive 1366----------------------------------------------------------- */

@media (max-width: 1367px) {
  /* CSS header */
  .menu-nav {
    display: none;
  }
  .div_custom_font {
    display: none;
  }
  .tasbar {
    align-items: flex-start;
    height: 59px;
    right: 20px;
    top: 15px;
    justify-content: flex-end;
  }

  .tasbar .menu {
    width: auto;
    text-align: right;
    float: right;
    margin-top: 10px;
  }
  .display_custom {
    justify-content: flex-end;
  }
  .login_create .dn,
  .dk {
    margin: 0 !important;
  }
  .login_create .center {
    margin: 0 7px;
  }
}

.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

/* css 1024 */

@media (max-width: 1024px) {
  /* CSS header */
  .tasbar {
    width: 100%;
    top: 0;
    right: 0;
    border-radius: 0;
  }
  .tasbar .menu {
    display: none;
  }
  .menu-nav {
    display: block;
    height: 30px;
    margin-left: 20px;
    position: absolute;
  }
  .display_custom {
    display: none;
  }
  .img_icon {
    width: 245px !important;
    display: block;
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
  }
  .tasbar img {
    width: 30px;
    height: auto;
    margin-left: 0px;
    margin-top: 10px;
  }
  .display_icon {
    width: 100%;
    display: flex;
    align-items: center;
  }
}

/* responsive 768 */

@media (max-width: 768px) {
  /* CSS header */
}

/* Responsive 375 */
