.main__footer {
  padding: 25px 0;
  display: flex;
  justify-content: center;
  grid-column-gap: 68px;
}

.main__footer button {
  background: #ffffff;
  border: 1px solid #4c5bd4;
  box-sizing: border-box;
  border-radius: 5px;
  color: #4c5bd4;
  font-size: 16px;
  line-height: 19px;
  font-family: Roboto-Bold;
  width: 168px;
  height: 36px;
}

.main__footer button.save {
  background: #4c5bd4;
  color: #ffffff;
}

.main__body__type {
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 15px;
  text-decoration-line: underline;
  color: #474747;
  font-family: "Roboto-Medium";
}

.show_avatar {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  border: 1px #cccc solid;
}

.row_input {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /* margin-right: -15px;
    margin-left: -15px; */
  justify-content: space-between;
  margin-bottom: 1rem;
}

.mb_3 {
  margin-bottom: 1rem;
  flex: 1 !important;
}

.form-label {
  color: #474747;
  font-size: 16px;
  line-height: 19px;
  font-family: "Roboto-Medium";
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  /* border-radius: 0.25rem; */
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.info_system {
  align-items: center;
  column-gap: 10px;
  display: flex;
}
@media (max-width: 414px) {
  .main__footer {
    padding: 25px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}

@media (min-width: 1420px) {
  .col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 509px;
  }
}

@media (max-width: 1420px) {
  .row_input {
    flex-direction: column;
    justify-content: center;
  }
}
