.main_body {
  width: calc(100% - 312px);
  float: right;
  padding: 21px 22px 22px 22px;
}

.col {
  width: 33.333333%;
  display: inline-grid;
}

.main_setting_tittle {
  font-size: 18px;
  line-height: 22px;
  font-family: Roboto-Bold;
  color: #474747;
  margin-bottom: 15px;
  font-weight: 600;
}

.main_setting_body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main_setting_item {
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 15px;
  color: #474747;
}

.main__control {
  justify-content: space-between;
  row-gap: 20px;
  display: flex;
  flex-direction: column;
}

.main__control_select {
  flex-wrap: wrap;
  width: 100%;
  gap: 15px;
}

.select_item {
  padding: 6px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
  gap: 5px;
  width: calc(100% / 3 - 15px);
  justify-content: space-between;
}

.select_item_time {
  width: fit-content !important;
  flex-wrap: wrap;
}

.select_item label {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: #474747;
  white-space: nowrap;
}

.select_item input[type="date"] {
  font-size: 16px;
  line-height: 16px;
}

.select2_container {
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
  width: 100%;
  cursor: pointer;
}

.select2_container_open {
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
  width: 100%;
  cursor: pointer;
}

.select2_hidden_accessible {
  border: none;
  display: none;
}

.selection {
  color: #444;
  line-height: 28px;
  font-size: 16px;
  cursor: pointer;
}

/* .input_item_time {} */

.select2_selection__arrow {
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
}

.select2_selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}

.select2_dropdown {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  position: absolute;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2_search__dropdown {
  display: block;
  padding: 4px;
}

.select2_search__field {
  width: 100%;
  border: 1px solid #aaa;
  padding: 4px;
}

.select2_results {
  display: block;
}

.select2_results__options {
  overflow-y: auto;
  list-style: none;
  margin: 0;
  padding: 3px 0;
}

.select2_results__option {
  /* max-height: 200px; */
  overflow-y: auto;
  list-style: none;
  /* margin: 0; */
  display: block;
}

.select2_results__option_highlighted {
  background-color: #5897fb;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 6px;
  padding-left: 18px;
}

.main__control_btn {
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.main__control_search {
  position: relative;
  width: 40%;
}

.input__search {
  color: #474747;
  padding: 10px 30px 10px 20px;
  border-radius: 10px;
  border: 1px solid #666666;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
  width: 100%;
}

.kinh_lup {
  position: absolute;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translate(-50%, -50%);
}

.img__search {
  width: 20px;
  cursor: pointer;
}

.main__control_add {
  gap: 15px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.btn_add_new {
  background: #4c5bd4;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
  border-radius: 10px;
  padding: 9px 21px;
  color: #ffffff;
  font-family: "Roboto-Medium";
  font-size: 16px;
  line-height: 19px;
  column-gap: 5px;
}

.dropbtn_add {
  background: #4c5bd4;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
  border-radius: 10px;
  padding: 9px 21px;
  color: #ffffff;
  font-family: "Roboto-Medium";
  font-size: 16px;
  line-height: 19px;
  column-gap: 5px;
}

.btn_file {
  background: #2a38a2;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
  border-radius: 10px;
  padding: 9px 21px;
  color: #ffffff;
  font-family: "Roboto-Medium";
  font-size: 16px;
  line-height: 19px;
  column-gap: 5px;
}

.btn_excel {
  background: #34b632;
}

.div__thaotac {
  display: flex;
  column-gap: 15px;
  align-items: baseline;
}

.div__thaotac label {
  font-size: 16px;
}

.div__thaotac b {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 16px;
}

.button_thaotac {
  font-family: "Roboto-Medium";
  background: #ffffff;
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #4c5bd4;
  padding: 9px 25px;
  display: flex;
  align-items: center;
}

.main_importfile {
  row-gap: 20px;
  width: 100%;
}

.footer_step {
  padding: 0 0 25px 0;
  display: flex;
  justify-content: center;
  column-gap: 68px;
}

.formInfoStep {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.main__title {
  background: #4c5bd4;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
  border-radius: 10px 10px 0px 0px;
  font-size: 18px;
  line-height: 19px;
  padding: 16px 20px 15px;
  color: #ffffff;
  font-weight: 600;
}

.main__body {
  background: #ffffff;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 10px 10px;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.drop-zone {
  border: 1px dashed #474747;
  border-radius: 3px;
  position: relative;
  text-align: center;
  width: 45%;
  margin: auto;
  padding: 15px 0;
  align-items: center;
  row-gap: 10px;
}

.drop-zone .text {
  font-family: " Roboto-Medium";
}

.text_or {
  font-size: 12px;
  line-height: 14px;
}

.text {
  font-size: 16px;
  line-height: 16px;
  color: #474747;
}

.btn_upfile {
  background: #2a38a2;
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  padding: 9px 40px;
  font-family: "Roboto-Medium";
  width: fit-content;
}

.div_item {
  row-gap: 10px;
  align-items: center;
}

.p_link {
  color: #4c5bd4;
  column-gap: 5px;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 0;
}

.main__footer {
  padding: 25px 0 25px 0;
  display: flex;
  justify-content: center;
  column-gap: 68px;
}

.main__footer button {
  background: #ffffff;
  border: 1px solid #4c5bd4;
  box-sizing: border-box;
  border-radius: 5px;
  color: #4c5bd4;
  font-size: 16px;
  line-height: 19px;
  font-family: "Roboto-Bold";
  width: 168px;
  height: 36px;
}

.main__footer button {
  background: #ffffff;
  border: 1px solid #4c5bd4;
  box-sizing: border-box;
  border-radius: 5px;
  color: #4c5bd4;
  font-size: 16px;
  line-height: 19px;
  font-family: "Roboto-Bold";
  width: 168px;
  height: 36px;
}

.main__footer button.save {
  background: #4c5bd4;
  color: #ffffff;
}

/* .mdal_cancel {
    width: 500px;
    min-height: 300px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
} */

.main__body_item_step2 {
  row-gap: 20px;
}

.main__body__type {
  margin-bottom: 0;
  text-decoration-line: underline;
  color: #474747;
  font-family: "Roboto-Medium";
  font-size: 20px;
  line-height: 23px;
}

.div_radio_step2 {
  column-gap: 30px;
}

.div_checkbox_step2 {
  column-gap: 5px;
  display: flex;
}

.d_flex {
  display: flex;
  align-items: center;
  column-gap: 5px;
  font-size: 16px;
  line-height: 16px;
  color: #474747;
  margin-bottom: 0;
}

.div_checkbox_step2 p {
  margin-bottom: 0;
}

.div_emty {
  margin-bottom: 1rem;
}

.form_label {
  display: block;
  color: #474747;
  font-size: 16px;
  line-height: 19px;
  font-family: "Roboto-Medium";
  margin-bottom: 0.5rem;
}

.select_item_box_step {
  height: 25px;
  border-color: #cccccc;
  padding: 6px;
  padding-left: 0;
  border-radius: 10px;
  min-width: 320px;
  justify-content: left;
  border-radius: 6px;
  margin-right: 9px;
  width: 200px;
}

.select2_container_step {
  border: 1px solid #cccccc;
  padding-left: 8px;
  padding-right: 20px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  position: relative;
  margin: 6px;
}

.ct_step4 {
  column-gap: 20px;
  display: flex;
}

.main__body__type {
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 15px;
  text-decoration-line: underline;
  color: #474747;
  font-family: "Roboto-Medium";
}

.show_avatar {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  cursor: pointer;
  /* border: 1px #CCCC solid; */
}

.main__control_search_campaign {
  position: relative;
  width: 65%;
}

.email_select_mdal .select_item {
  width: 50%;
}

.email_select_mdal .select2_dropdown {
  width: 100% !important;
  left: 0;
  z-index: 100;
  margin-right: 20px;
  height: 35px;
  /* transform: translate(-30%); */
}

.email_select_mdal .select_item {
  height: 35px;
  position: relative;
}

.email_select_mdal .select2_selection__arrow {
  top: auto;
}

.email_select_mdal .select2_container {
  position: initial;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.mb_3 {
  margin-bottom: 1rem;
  max-width: 100%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form_control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form_label {
  font-size: 17px;
  font-weight: bold;
  margin: 0;
  color: #474747;
  display: flex;
  margin-bottom: 10px;
}

.mb_3 .select_item_box_step {
  min-width: 100%;
  padding: 0;
}

.main_body_merge {
  background: #ffffff;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 10px 10px;
}

.wrap_select .select_item_box_step {
  min-width: 100%;
}

.btn_serach {
  background: #4c5bd4;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
  border-radius: 3px;
  padding: 9px 35px;
  color: #ffffff;
  font-size: 16px;
  line-height: 19px;
  font-family: "Roboto-Bold";
  margin-top: 10px;
}

.inputform {
  display: block;
  width: 90%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  margin-left: 7px;
}

.setting_select {
  width: -webkit-fill-available;
  padding: 8px;
  font-size: unset;
  margin: 0px 0px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  color: #495057;
}

.col_lg_12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.col_lg_6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.d_flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  padding-bottom: 15px;
  margin-top: 15px;
  column-gap: 15px;
  border-bottom: 1px dashed #cccccc;
  align-items: center;
  align-items: baseline;
  justify-content: space-between;
  margin: 5px 20px 10px 10px;
}

.row_system {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
}

.group_button_SMS {
  display: flex;
  gap: 10px;
}
@media (max-width: 414px) {
  .main__control_search {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .select2_dropdown {
    left: -50%;
    width: auto !important;
  }

  .select_item_box_step {
    min-width: 100%;
  }
}

.btn_edit {
  width: 153px;
  height: 40px;
  text-align: center;
  font-family: Roboto-Medium;
  font-weight: 600;
  font-size: 16px;
  border-radius: 10px;
  background-color: #4c5bd4;
  color: #fff;
}

.btn_delete {
  width: 153px;
  height: 40px;
  text-align: center;
  font-family: Roboto-Medium;
  font-weight: 600;
  font-size: 16px;
  border-radius: 10px;
  background-color: #ffffff;
  color: #ff3333;
  box-shadow: 0px 0px 10px rgb(0 0);
}

.main__content__body {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  background: #ffffff;
  padding: 20px;
  border-radius: 0 0 10px 10px;
}

@media (max-width: 1420px) {
  .select_item_box_step {
    padding: 0;
  }
}
