@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
:root {
  font-family: Roboto;
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
}

* {
}

html,
body {
  margin: 0px;
  background-color: #fafafa;
  font-family: Roboto;
}

a {
  text-decoration: none;
}
a:hover {
  /* background: #f1f9fc; */
}

@font-face {
  font-family: Roboto;
  src: url("/assets/font/t-font/roboto-v16-vietnamese_latin-ext-regular.woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src: url("/assets/font/t-font/roboto-v16-vietnamese_latin-ext-500.woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src: url("/assets/font/t-font/roboto-v16-vietnamese_latin-ext-700.woff2");
  font-display: swap;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Roboto;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}

a,
p,
span,
textarea,
li,
input,
select {
  font-family: Roboto;
  list-style: none;
  margin: 0;
}

input,
select,
textarea {
  outline: none !important;
}
table {
  color: #474747;
  font-weight: 500;
}
button {
  -webkit-appearance: button;
  cursor: pointer;
}
/* Width */
::-webkit-scrollbar {
  width: 2px;
  height: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(76, 91, 212);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  /* background-color: rgb(76, 91, 212); */
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  /* background-color: rgb(76, 91, 212); */
}
.ck-editor__editable {
  min-height: 220px;
}
.ck-editor__main {
  height: 220px;
  overflow: scroll;
}

.ant-pagination {
}
@media (prefers-color-scheme: dark) {
}
