.title {
  position: absolute;
  top: 0;
  right: 0%;
  background: #4c5cd4;
  color: white;
  padding: 15px 0;
  width: 100%;
  text-align: center;
  font-size: 19px;
  border-radius: 7px 7px 0 0;
}
